
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(1,1,27);
  background: linear-gradient(90deg, rgba(1,1,27,1) 0%, rgba(2,76,185,1) 50%, rgba(219,84,212,1) 100%);
  color: white;
}

.main-container--section{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.lds-ring {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
