@import "_vars";

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 50px;
  gap: 30px;
}

@media screen and (max-width: 1023px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
